body {
	background-color: rgb(34, 193, 214);
}
h1 {
	color: tomato;
	text-align: center;
	font-size: 80px;
}
p {
	color: red;
}
p {
	color: rgba(0, 0, 0, 0.527);
	text-align: center;
}
div {
	border: 2px solid;
	padding: 40px;

	align-items: center;
	background-color: rgb(66, 218, 185);
}

#ingr {
	color: rgb(116, 17, 63);
}
