body {
	background-color: rgb(255, 255, 255);
}
h1 {
	color: tomato;
	text-align: center;
	font-size: 80px;
}
p {
	color: red;
	font-size: 15px;
}
p {
	color: rgba(0, 0, 0, 0.527);
	text-align: center;
}
#d2 {
	border: 2px solid;
	padding: 10px;
	align-items: center;
	background-color: rgb(165, 211, 201);
	text-align: center;
	text-size-adjust: 5px;
}

#ingr {
	color: rgb(112, 14, 60);
	font-size: xx-large;
}

#d1 {
	border: 6px solid;
	border-color: rgb(0, 10, 10);
	padding: 20px;
	align-items: center;
	background-color: rgb(218, 129, 129);
}
#t1 {
	
	align-items: center;
	background-color: rgb(218, 129, 129);
	font-size: 90px;
}
